{% extends 'admin/layout/base.html.twig' %}

{% block dashboard_active %}{{ 'active' }}{% endblock %}

{% block extended_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row panel-heading-top mb-4">
        <div class="col-4"><a class="btn btn-primary btn-round" href="{{ path('admin_create_article') }}"> + {% trans %}Add new Article{% endtrans %} </a></div>
        <div class="col-8 top-filter">
            <div class="pull-right">
                <form class="form-inline form-filter-top ">
                    <div class="form-group"><input type="text" value="" placeholder="" class="form-control"></div>
                    <div class="form-group form-group-primary ml-2">
                        <select class="custom-select select-style-second form-control">
                            <option value="title">{% trans %}Title{% endtrans %}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-icon ml-2"><i class="material-icons">search</i></button>
                </form>
            </div>
        </div>
    </div>
    <!-- /.panel-heading-top -->

    <div class="card no-border-p0">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover text-center" id="data-table">
                    <thead>
                        <tr>
                            <th class="has-sort"><span>ID</span></th>
                            <th>{% trans %}Title{% endtrans %}</th>
                            <th>{% trans %}Category{% endtrans %}
                                <br>
                                <select class="table-filter" name="filter" data-field="archive" style="max-width: 60px">
                                    <option value="">-- {% trans %}All{% endtrans %} --</option>
                                    {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th>{% trans %}Author{% endtrans %}</th>
                            <th>{% trans %}Status{% endtrans %}<br>
                                <select class="table-filter" name="filter" data-field="status" style="max-width: 60px">
                                    <option value="">-- {% trans %}All{% endtrans %} --</option>
                                    <option value="1">{% trans %}Active{% endtrans %}</option>
                                    <option value="0">{% trans %}Inactive{% endtrans %}</option>
                                </select>
                            </th>
                            <th class="has-sort">{% trans %}Created date{% endtrans %} </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                        <tr id="article-{{ article.id }}">
                            <td><a href="prospect-detail.php" class="alink">{{ article.id }}</a></td>
                            <td>{{ article.title }}</td>
                            <td>{{ article.category.name }}</td>
                            <td>{{ article.author.username }}</td>
                            <td>
                                {% if article.status == 1 %}
                                <img src="{{ asset('images/admin/icon-validation-check.png') }}" alt="">
                                {% else %}
                                <img src="{{ asset('images/admin/icon-validation-x.png') }}" alt="">
                                {% endif %}
                            </td>
                            <td>{{ article.createdAt|date('d/m/Y') }}</td>
                            <td>
                                <div class="td-btn">
                                <a class="btn-icon-s" href="add-article.php">
                                <i class="material-icons">border_color</i>
                                </a>
                                <a class="btn-icon-s"><i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <div class="ft-plain pb-3">
        <div class="d-flex align-items-center">
            <div class="form-inline ml-auto">
                <label>
                    {% trans %}Show{% endtrans %}
                    <select class="custom-select form-control form-control-sm mx-2">
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    sur 1027 items par page
                </label>
            </div>
            <div class="w-paging ml-4">
                <ul class="pagination mb-0">
                    <li class="page-item"><a href="#" aria-label="First" class="page-link"><i class="fa fa-step-backward"></i></a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-caret-left"></i></a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item active"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-caret-right"></i></a></li>
                    <li class="page-item"><a href="#" aria-label="Last" class="page-link"><i class="fa fa-step-forward"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        var data_table = $('#data-table').DataTable({
            ordering: false,
            paging: false
        });

        $('#data-table').on('click', 'th.has-sort', function() {
            var index_of_this_column = $(this).index();
            console.log(index_of_this_column);
        });
    });
</script>
{% endblock %}

